@import "../../styles/variables.scss";

.job-modal {
  &-box {
    background-color: #F6F6F6;
    opacity: 100%;
  }
}

#company-logo {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.heading{
  font-family: 'Montserrat';
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 10px;

  &-links {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.content{
  font-family: 'Source Sans Pro';
  padding-top: 5px;
  padding-bottom: 0px;
  line-height: 1em;
  margin: 15px;
  width: 25ch;

  &-location {
    width: 186px;
    margin-left: 15px;
  }
}

.modal-top {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.modal-top-right {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.close-icon {
  color: rgb(163, 163, 163);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.logo {
  border-radius: 0%;
}

.modal-middle {
  width: 99.5%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  &-url {
    width: 65%;
  }

  &-salary {
    width: 186px;
    margin-left: 15px;
  }

  &-details {
    margin-top: 10px;
    width: 100%;
  }
}

.status-selector {
  width: 186px;
  margin-left: 15px;
}

.contact-info {
  width: 99.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  &-name {
    width: 48%;
  }
  &-phone {
    width: 48%;
  }
  &-email {
    width: 48%;
  }
  &-social {
    width: 48%;
  }
}

.event {
  width: 99.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-upcoming {
    width: 48%;
  }
  &-calendar {
    width: 48%;
  }
  &-details {
    width: 48%;
  }
  &-location {
    width: 48%;
  }
}

.add-to-calendar {
  width: 48%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: centers;
}

.eventHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-header {
  color: grey;
  font-family: 'Source Sans Pro';
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 10px;

    &-buttons {
      height: 30px;
    }

  &-input {
    width: 99.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &-inputfield {
    width: 48%;

    &-full {
      width: 100%
    }
  }
}

.buttons-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-right {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.buttons-left {
  width: 200px;
}