$font-family-heading: 'Montserrat', sans-serif;

$font-family-content: 'Source Sans Pro', sans-serif;

$white: #fff;
$black: #000;

$theme-color1: #34acba;
$theme-color2: #72dcbb;
$theme-color3: #ffe07e;
$theme-color4: #ffe7d6;
$theme-color5: #ffa7a5;
$theme-color6: #ee6a7c;
$theme-color7: #ab5675;
$theme-color8: #73464f;


$spacing: 2rem;
