@import "../styles/variables.scss";

.container{
  margin-top: 10px;
}

.panel{
  background-color: $white;
  color: $theme-color6;
}

.logo{
  width: 75px;
  height: 75px;
}

.heading{
  font-family: 'Montserrat';
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1em;
  margin: 0px;
}

.content{
  font-family: 'Source Sans Pro';
  padding-top: 5px;
  padding-bottom: 0px;
  line-height: 1em;
  margin: 0px;
}